@model List<QLKho.ViewModel.SanPhamViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Mã Sản Phẩm</th>
                    <th>Tên Sản Phẩm</th>
                    <th>Số Lượng</th>
                    <th>Đơn Giá</th>
                    <th>Ngày nhập gần đây nhất</th>
                    <th>Thể loại</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Mã Sản Phẩm</th>
                    <th>Tên Sản Phẩm</th>
                    <th>Số Lượng</th>
                    <th>Đơn Giá</th>
                    <th>Ngày nhập gần đây nhất</th>
                    <th>Thể loại</th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.MaSanPham</td>
                        <td>@item.TenSanPham</td>
                        <td>@item.SoLuong</td>
                        <td>@item.DonGia</td>
                        <td>@item.NgaySua.ToString("dd/MM/yyyy")</td>
                        <td>@item.TenTheLoai</td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>

